<h1>Products#add</h1>
<p>Find me in app/views/products/add.html.erb</p>

<%= form_for(@product) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.submit "add to cart" %>
<% end %>

