<%= form_tag ({controller: 'products', 'add', method: 'post'}) do %>
  <% text_field_tag :products %>
  <%submit_tag("add to cart") %>
<% end %>

<% @cart.each do |product| %>
<p><%= product %> </p>
<% end %>
