<!-- https://github.com/learn-co-students/cookies_and_sessions_lab-v-000/pull/1061/files -->
<!-- new code start -->
<h1>Add Products</h1>
<%= form_tag("/") do %>
  Product: <%= text_field_tag "product" %><br>
  <%= submit_tag "add to cart" %>
<% end %>
<!-- new code end -->
