<%= form_tag("/", method: "post") do %>

  <%= text_field_tag "product"%>

  <%= submit_tag("add to cart") %>
<% end %>

<ul>
  <% cart.each do |product| %>
    <li><%=product%></li>
  <% end %>
</ul>
