<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Products Index Page</title>
</head>
<body>
  <%= @cart.join ',' %>

  <%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
    <input name=product>
    <input type=submit value='add to cart'>
  <% end %>
</body>
</html>
