<h1>Products#index</h1>

<%= form_tag(products_add_path) do %>
  <%= text_field_tag :product, params[:product], placeholder: "e.g. Marshmallows" %>
  <%= submit_tag "add to cart" %>
<% end %>

<% @cart.each do |product| %>
  <p><%= product %></p>
<% end %>
