<form action="/products/add" method="POST">
    <input type="text" name="product">
    <input type="submit" value="add to cart">
</form>

<% if @cart %>
  <% @cart.each do |product| %>
    <%= product %>
  <% end %>
<% end %>
