<h1>Add product to your cart:</h1>

<div>
<%= form_tag('/products/add') do %>
  <%= text_field_tag 'product' %>
  <%= submit_tag 'add to cart' %>
<% end %>
</div>

<div>
<h1>Current products in your cart:</h1>
<% session[:cart].each do |p| %>
  </li><%= p %></li>
<% end %>
</div>
