<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<h3>Cart Items</h3>
<ul>
  <% @cart.each do |i| %>
    <li><%= i %></li>
  <% end %>
</ul>

<%= form_tag('/') do %>
  <%= text_field_tag :product %>
  <%= submit_tag 'add to cart' %>
<% end %>
