<h1>Shopping Cart</h1>
<% if @cart %>
	<ul>
<% @cart.each do |product| %>
	<li><%= product %></li>
	<% end %>
	</ul>
<% end %>

<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
<% end %>
