<p> Your Cart </p>
<%= @cart.each do |product| %>
  <li><%= product %></li>
<% end %>

<%= form_tag ({
    controller: 'products',
    action: 'add',
    method: 'post'
    }) do %>
    
  <input name=product>
  <input type=submit value='add to cart'>
<% end %>
