<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<%= form_tag do %>
  Product: <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %>
<% end %>

<% @cart.each do |item| %>
  <%= item %>
<% end %>
