<h1>Products</h1>
<div id="products_list">
	<ul>
		<% @cart.each do |product|%>
		  <li><%= product %></li>
		<% end %>
	</ul>
</div>

<div id="add_product_form">
	<label>Add product to cart</label>
    <p>
    	<%= form_tag('/products/add') do%>
    	  <%= text_field_tag('product')%>
    	  <%= submit_tag('add to cart')%>
    	<% end %>
    </p>
</div>