

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <label for='product'>Product: </label>
  <input type="text" name=product />
  <input type="submit" value='add to cart'>
<% end %>

<%= @cart %>
