<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<form class="" action="/products/add" method="post">
  <input type="text" name="product" value="">
  <input type="submit" name="add to cart" value="add to cart">
</form>


<%= session[:cart] %>
