<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>


<h3>Add an item to your cart</h3>
<%= form_tag products_add_path, method: "get" do %>
  <%= text_field_tag :product %>
  <%= submit_tag 'add to cart' %>
<% end %>



<ul>
  <h3>Cart</h3>
    <% @cart.each do |item| %>
      <li><%= item %></li>
    <% end %>
</ul>