<h1>Shopping cart</h1>

<%=form_tag({controller: 'products', action: 'add', method: 'POST'}) do %>
  <%= text_field_tag :product %>
  <%= submit_tag "add to cart" %>
<% end %>

<h2>Products</h2>
<ul>
  <% cart.each do |p| %>
    <li>
      <%=p%>
    </li>
  <% end %>
</ul>
