<% if !!cart %>
    <h3>Cart Items:</h3>
    <%= cart.each do |x| %>
    <li><%= x %></li>
    <% end %>
<% end %>

<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
<% end %>

