<h1>Products</h1>
<% cart.each do |product| %>
<%= product %>
<% end %><br>

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
<%= text_field_tag  (:product) %>
<%= submit_tag ("add to cart") %>
<% end %>
