<ul>
<% cart.each do |c| %>
<li><%= c %></li>
<% end %>
</ul>

<%= form_tag ({:controller => 'products', :action => 'add', :method => 'post'}) do %>
<%= text_field_tag :product %>
<%= submit_tag "add to cart" %>
<% end %>
