<h1>Products</h1>
<ul>
  <% cart.each do |product| %>
    <li><%=product %></li>
  <% end %>
</ul>

<%= form_tag '/', method: 'get' do%>
  <%= text_field_tag :product %>

  <%= submit_tag 'add to cart'%>
<% end %>