<form method="post" action="/add">
  <label>Product: </label>
  <input type="text" name="product" id="product">

  <input type="submit" value="add to cart">
</form>

<ul>
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>
