<ul>
  <% cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<%= form_tag({controller: 'products', action: 'add', method: 'post'}) do %>
  <input name="product">
  <%= submit_tag 'add to cart' %>
<% end %>
