<h1>Add to cart</h1>
<form action="products" method="post">
    <input type="text" name="product" value="" id="product">
    <input type="submit" value="add to cart">
</form>

<h1>Current Cart</h1>
<% cart.each { |e| %>
    <%= e %>
<% } %>