</h2> In Your Cart: hi hi </h2>

<% @cart.each do |item| %>
  <%= item %>
<% end %>

</h2> Add an Item: </h2>

<%= form_tag add_path do %>

  <%= text_field_tag "product" %>

  <%= submit_tag "add to cart" %>
<% end %>