<h1>What's in the Cart?</h1>

<ul>
<% cart.each do |product| %>
<li><%= product %></li>
<% end %>
</ul>

<h1>Put it in the Cart</h1>
<%= form_tag('index') do %>

  <label for='product'>Type a product to add to your cart:</label>
  <%= text_field_tag 'product' %>  

  <%= submit_tag "add to cart"%>
<% end %>