<ul>
  <%= cart.each do |product| %>
    <li><% product %></li>
  <% end %>
</ul>

<%= form_tag('/products', method: :post) do %>
  Name: <%= text_field_tag "product" %>

  <%= submit_tag "add to cart" %>
<% end %>
