<h3>Add Item</h3>

<%= form_tag do %>
  <%= text_field_tag :product %><br></br>
  <%= submit_tag "add to cart" %>
<% end %>

<h3>Cart Items</h3>
  <ul>
    <% @cart.each do |product| %>
      <li><%= product %></li>
    <% end %>
  </ul>
