<ul>
  <% cart.each do |p| %>
  <li><%= p %></li>

  <%end%>
</ul>

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>

  <input name="product">
  <input type="submit" value="add to cart">
  <%end%>
