<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <%= text_field_tag :product %>
  <%= submit_tag("add to cart") %>
<% end %>

<% @cart.each do |product| %>
  <p><%= product %></p>
<% end %>