<h1>Items in your cart</h1>

<ul>
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>


<h1>Add items to you cart</h1>

<%= form_tag ({controller: "products", action: 'add', method: "POST"}) do %>

  <input name=product>
  <input type="submit" value='add to cart'>
<% end %>
