


<h1>Your Cart</h1>
<!-- conditionally displays @cart items -->
<h3>Currently includes:</h3>
<% if @cart.join.empty? %>
  <%= "No items currently in the cart" %>
<% else %>
  <%= @cart.join(", ") %>
<% end %>
<!-- post "/" to products#add -->
<h3>Add an item: </h3>
<%= form_tag({:controller => "products", :action => "add", :method => "post"}) do %>
  <input type="text" name="product" >
  <input type="submit" value="add to cart" >
<% end %>
