<h1> Home Page </h1>

<%= form_tag({controller: 'products',
    action: 'add_to_cart',
    method: 'post'}) do %>

  <input name= product>
  <input type= submit value='add to cart'>
<% end %>

<h3> Shopping Cart </h3>
<ul>
	<% cart.each do |item| %>
	<li><%= item %></li>
	<% end %>
</ul>
