<h2>Add new product</h2>
<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <input name=product>
  <input type=submit value='add to cart'>
<% end %>

<h2>Cart items</h2>
<ul>
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>
