<h1>Index</h1>
<%@cart.each do |cart| %>
<%= cart %>
<%end%>
<%= form_tag ({controller: "products", action: "add", method: "post"}) do |f| %>
<input name=product>
<input type= submit value= 'add to cart'>
<%end%>