

<form action="/products" method="POST">
  <label>Product Name:</label>
  <input type="text" name="product" id="product"><br>
  <input type="submit" value="Submit" id="add to cart">
</form>

<%byebug%>
