<h1>Products#index</h1>

<%=form_tag('/add', method: :post) do%>
  <%=text_field_tag :product%>
  <%=submit_tag "add to cart"%>
<%end%>


<% if @cart%>
  <% @cart.each do |item|%>
    <%=item%><br>
  <%end%>
<%end%>
