<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<%= form_for session do |f| %>
  <label>Product</label><br>
  <%= f.text_field :product %>
  <%= f.submit "add to cart" %>
<% end %>

<h1>Your Cart</h1>
<ul>
  <% if !cart.empty?%>
    <% cart.each do |item|%>
    <% end %>
    <%end %>
</ul>
