<h2>Your Shopping Cart</h2>
<% if session[:cart] %>
<ul>
  <% session[:cart].each do |p| %>
    <li><%= p %></li>
  <% end %>
</ul>
<% end %>

<%= form_tag("/post") do %>
    Product: <%= text_field_tag "product" %><br>
    <%= submit_tag "add to cart" %>
  <% end %>