
    <form action="/" method="post">
    <label for="cart_product">Product</label>
    <input type="text" value="" name="cart[product]" id="product"><br>
    <br>
  
    <input type="submit" name="commit" value="add to cart" data-disable-with="add to cart">
    </form>