<form  action="products" method="post">
  <label for="product">Product</label>
  <input type="text" name="product">
  <button type="submit" name="add to cart">add to cart</button>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>
